.intro{
    /* background: linear-gradient(#303F9F, #E040FB); */
}

.overlay{
    background: linear-gradient(#303F9F, #E040FB);
    
}

.bigtitle {
    /* border: 1px solid white; */
    padding: 40px 0;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.bigtitle h1 {
    margin: auto;
    text-align: center;
    font-size: 90px;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    text-shadow: 1px 1px 50px black;
}

.bigtitle p {
    margin: auto;
    text-align: center;
    font-family: 'Roboto Condensed';
    font-size: 80px;
}

.bigtitle p:first-child{
    font-size: 40px;
}

.bigtitle p:last-child{
    text-shadow: 0px 0px 10px black;
}

@media (max-width: 1200px) {
    .intro p {
        font-size: 42px;
    }
    .intro h1 {
        font-size: 52px;
    }

    .intro p:first-child{
        font-size: 30px;
    }
}

@media (max-width: 720px) {
    .intro p {
        font-size: 22px;
    }
    .intro h1 {
        font-size: 32px;
    }

    .intro p:first-child{
        font-size: 15px;
    }
}

.heading:after{
    background-color: white; 
}

.navbar {
    font-family: "Open Sans";
    font-style: normal;
}

.navbar-header a{
    padding-top: 9px;
}

.text {
    padding: 100px 0;
    background-color: #3F51B5;
    height: 100%;
    color: white;
}

.text h2{
    color: white;
}

.lead{
    font-weight: 600;
    margin-bottom: 5px;
}

.lead-description{
    font-weight: bold;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.telecharger{
    padding: 16px 22px;
    background-color: #474d5d;
    color: white;
    font-weight: 600;
    border: 0;
}

.telecharger:hover{
    background-color: #373d4c;
}

.competences{
    padding: 75px 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.competences h2{
    margin-bottom: 0;
    color: white;
}

.competences .box{
    margin: 0;
}

.competences .heading:after {
  margin: 20px 0 0px;
}

.diplomes{
    padding: 70px 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.diplomes li{
    list-style: none;
    padding: 10px 40px;
    margin-bottom: 20px;
    background-color: #474d5d;
    box-shadow: 2px 2px 20px black;
}

.gallery{
    padding: 80px 0;
    background-color: #10394B;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
}

.gallery h2{
    color: white;
}

.contact{
    background-color: #111111;
    color: white;
    padding: 100px 0;
    display: flex;
    align-items: center;
}

.contact h2{
    color: white;
}

.contact input, .contact textarea{
    background-color: #0A303D;
    border: 0;
    color: white;
    margin-bottom: 25px;
    padding: 20px;
}

.contact input[type=submit]{
    padding: 10px;
}

.contact input[type=submit]:hover{
    background-color: white;
    color: black;
}

.details{
    padding-left: 100px;
}

.details i{
    font-size: 20px;
}

.contact ul{
    list-style: none;
}

.contact ul li{
    margin-bottom: 30px;
}

.contact ul a{
    color: white;
}

.contact ul a:hover{
    color: #bbb;
    text-decoration: none;
}

p.social a.facebook{
    background-color: #3b5998;
}

p.social a.twitter{
    background-color: #1DA1F2;
}

p.social a.gplus {
  background-color: #d34836;
}

#map{
    background-color: #69C2E4;
    height: 450px;
}